[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
markovify = "*"
uvicorn = "*"
jinja2 = "*"
gunicorn = "*"

[dev-packages]
black = "==18.6b4"
mypy = "*"
