[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
lagom = "~=0.6.6"
fastapi = "*"
markovify = "*"
uvicorn = "*"
jinja2 = "*"
gunicorn = "*"

[dev-packages]
black = "==19.10b0"
mypy = "*"
pytest = "*"
requests = "*"
