[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
markovify = "*"

[requires]
python_version = "3.6"

[dev-packages]
black = "==18.6b4"
mypy = "*"
